body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

header {
  position: fixed;
  margin-top: 0;
  z-index: 999;
  width: 100%;
  background-color: black;
}

.heigth-nav {
  padding-top: 115px;
}
.first-nav {
  width: 100%;
  height: 32px;
}

.first-nav ul {
  display: flex;
  margin-left: 8px;
  margin-top: 1.5%;
  list-style: none;
}

.first-nav a {
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  color: hsla(0, 0%, 100%, 0.6);
  margin: 8px;
  font-size: 13px;
}

.first-nav a:hover {
  color: white;
}

.float-left {
  float: left;
  height: 100%;
}

.float-right {
  float: right;
  height: 100%;
  margin-right: 20px;
}

.float-right ul{
  padding-top: 1%;
}

#first-element-nav {
  color: white;
}

.scnd-nav {
  position: relative;
  width: 100%;
  height: 50px;
  background-color: white;
}

.scnd-nav ul {  
  width: 100%;
  list-style: none;
  display: inline-flex;    
  margin-top: 18px;  
}

.scnd-nav img {
  position: relative;
  float: right;
  margin-top: -36px;
}

.navitem a {
  float: left;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  color: #aaa;
  font-size: 14px;
  padding-left: 15px;
  letter-spacing: 0.04px;
  line-height: 1;
  text-decoration: none;
  
}

.navitem a:hover {
  color: #424242;
}

.yw-lk {  
  text-decoration: none;
}

.yw-dv {
  font-weight: 300;
  color: black;
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
  padding-left: 15px;
  line-height: 30px;
  background-color: #fd3;
  box-shadow: 1px 16px 48px rgba(1, 1, 1, 0.15);

}

.first-grid {
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(3, 1fr);
  gap: 10px;
}

.first-grid-article {
  margin-top: 5px;
  grid-area: 1 / 1 / span 2 / span 2;
  background-image: url(../assets/image/1section-1article.png);
  background-size: cover;
  background-position: center;
  margin-left: 13px;
}

.gradient {
  width: 100%;
  height: 100%;
  background-image: url(../assets/image/gradient.png);
  background-size: cover;
}

.gradient-linear{
   background-image: linear-gradient(transparent, black);
   height: 100%;
}

.cover-logo {
  width: 50%;
  margin: 20px;
  z-index: 20;
  position: relative;
}

.cover-date {
  float: right;
  color: white;
  margin: 15px;
  font-family: sans-serif;
}

.cover-titles {
  width: 96%;
  margin: 5% auto auto auto;
  font-family: sans-serif;
}

.cover-titles h2{
  margin: 10px 1px;
}

.cover-titles a {
  color: white;
  text-decoration: none;
}

.cover-title {
  margin-top: 1%;
  font-size: 3.5em;
  font-weight: bold;
}

.cover-ul {
  display: flex;
}

.cover-ul li {
  color: #ffffffa6;
  margin-right: 1%;
}

.cover-ul img {
  height: 85%;
  position: relative;
  top: -2px;
  padding-right: 2px;
}

.first-grid-article-small-1 {
  margin-top: 5px;
  background-image: url(../assets/image/1section-2article.png);
  background-size: cover;
  background-position: center;
  margin-left: 13px;
}

.first-grid-article-small-2 {
  margin-top: 5px;
  background-image: url(../assets/image/1section-3article.png);
  background-size: cover;
  background-position: center;
  margin-left: 13px;
}


.cover-title-small {
  font-size: 1.5em;
}

.cover-titles-small {
  margin: auto;
  padding: 70px 20px 1px 20px;
  font-family: sans-serif;
}

.cover-titles-small h2{
  margin: 10px 1px;
  font-weight: bold;
}

.cover-titles-small a {
  color: white;
  text-decoration: none;
}

/* second section  */

#sc-grid {
  display: block;
  width: 75%;
  margin: 10px auto;
}

.sg-hd {
  padding-left: 20px;
}

.sg-hd a {
  display: block;
  text-decoration: none;
  color: #f42;
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  font-weight: 600;
  text-transform: capitalize;
  letter-spacing: 3px;
  max-width: 1172px;
  margin: 64px auto 30px auto;
}

.grid {
  display: flex;    
  position: relative;
  flex-wrap: wrap;
}

.grid-item {  
  position: relative;  
  font-family: 'Poppins', sans-serif;
  padding: 10px 12px ;
  margin-top: 20px;
  width: 22%;
}

.grid-img img {
  position: relative;
  width: 100%; 
  margin: 0 auto;
}

.grid-img figcaption a, .gr-i-ft li a {
  position: relative;
  width: 100%;
  text-decoration: none;
  color: black;
}

.grid-img figcaption a:hover {
  position: relative;
  width: 100%;
  color: #f42;
  text-decoration: underline;
}

.grid-img figcaption {
  padding: 10px;
}

.grid-img figcaption a {
  font-weight: 600;
  line-height: 1.5;  
  font-size: 17px;
}

.gr-i-ft {
  display: inline-flex;
  padding: 0 10px;
  font-size: 12px;
}

.gr-i-ft li small {
  padding-left: 7px;
  color: #aaa;
}

.display-flex {
  display: flex;
}

.third-grid {
  width: 77%;
  margin: 10px auto;
}

.third-hd-links {
  color: #f42;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  margin: 73px auto 30px;
}

.third-hd-links a {
  text-decoration: none;
  color: #f42;
}

.third-hd-links a:hover {
  text-decoration: none;
  color: black;
}

.third-hd {
  padding-left: 20px;
}

.third-hd a {
  display: block;
  text-decoration: none;
  color: #f42;
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  font-weight: 600;
  text-transform: capitalize;
  max-width: 1172px;
  margin: 64px auto 25px auto;
}

.third-section {
  width: 75%;
  margin: auto;
}

.third-div {
  display: flex;    
  position: relative;
  flex-wrap: wrap;
}

.third-article {
  position: relative;  
  font-family: 'Poppins', sans-serif;
  padding: 10px 12px ;
  margin-top: 20px;
  width: 22%;
}

.third-article-logo {
    top: 22px;
    left: 20px;
    position: absolute;
    width: 20%;
}

.third-article-header {
  width: 100%;
  height: 40px;
  display: flex;
  font-weight: bold;
  background-color: #f42;
  align-items: center;
  color: white;
}

.third-article-header h2 {
  margin: auto;
}

.third-article-sub-header {
  background-color: rgba(255, 68, 34, 0.08);
  height: 58px;
  display: block;
}

.third-article-sub-header-title {
  position: relative;
  top: 8%;
  left: 30%;
  font-size: 19px;
  font-weight: bolder;
  text-decoration: none;
  color: black;
}

.third-article-sub-header-text {
  font-size: 12px;
  text-align: center;
  text-decoration: none;
  color: #00000094;
  position: relative;
  top: 8%;
  left: 30%;
}

.third-article-ul {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(255, 68, 34, 0.25);;
}

.third-article-li a {
  color: #0a0a0ac7;
  text-decoration: none;
  font-size: 13px;
}

.third-article-last {
  height: 90px;
  display: flex;
  align-items: center;
}

.third-article-last a {
  color: #555;
  margin: 1px 9px;
  font-size: 11px;
  line-height: 20px;
  text-decoration: none;
}

.third-article-last span {
  color: #aaa;
}

/* third section begins */

#th-grid {
  display: flex;
  flex-wrap: wrap;  
  position: relative;
  width: 75%;
  margin: 10px auto;
}

.grid-item {  
  position: relative;  
  font-family: 'Poppins', sans-serif;
  padding: 10px 12px;
  margin-top: 20px;
  width: 30%;
}

.grid-item h3 a {
  position: relative;
  font-size: 30px;
  font-weight: 700;
  text-align: left;
  text-decoration: none;
  color: #f42;  
}

.img-fgr {
  position: relative;
  background-image: url(../assets/image/fourth-grid-1.jpg);
  background-size: cover;
  background-position: center;
  height: 277px;;
}

.grad {
  background-image: linear-gradient(transparent, black);
  height: 100%;
}

.frt-gr-i-ft {
  position: relative;
  display: inline-flex;
  padding: 1px;
  font-size: 12px;
  color: hsla(0, 0%, 100%, 0.6);  
  bottom: 1px;
}

.img-article {
  position: relative;
  width: 96%;
  margin: 5% auto auto auto;
  font-family: sans-serif;
  left: 3%;
  top: 60%;
}

.tp-sbtitle {
  font-size: 12px;
  text-transform: uppercase;
}

.tp-sbtitle, .img-title, .frt-gr-i-ft  a {
  text-decoration: none;
  color: white;
}

.frt-gr-i-ft  a {  
  color: hsla(0, 0%, 100%, 0.6);  
}

.frt-gr-i-ft  small {
  padding-left: 10px;
}

.img-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
}

.hd-container {
  position: relative;
  /* display: flex; */
  width: 100%;
  height: 97px;
  background-color: #424242;
}

.hd-container header {
  position: relative;
  width: 74%;  
  height: 100px;
  background-color: #f42;
  color: aliceblue;
}

.hd-container .hdr-img {
  width: 24%;
  height: 100%;
  position: relative;  
  float: right;  
  background-image: url(../assets/image/th-gr-one-sm.png.jpg);
  background-size: cover;
  background-position: center;
}

/* fourth section begins */

.img-disccount {
  position: absolute;
  z-index: 90;
  width: 24%;
  right: 5%;
}

.text-disccount {
  position: absolute;
  top: 13%;
  z-index: 99;
  width: 24%;
  right: 1%;
  font-size: 11px;
  transform: rotate(45deg);
  font-weight: bold;
}

.five-hd a {
  display: block;
  text-decoration: none;
  color: #f42;
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  font-weight: 600;
  text-transform: capitalize;
  max-width: 1172px;
  margin: 64px auto 30px auto;
}

.five-grid-item {
  position: relative;
  font-family: 'Poppins', sans-serif;
  padding: 10px 12px;
  margin-top: 20px;
  width: 20%;
}

.five-grid-img figcaption {
  padding: 1px;
}

.five-grid-img img {
  position: relative;
  width: 100%;
  margin: 1 auto;
}

.five-grid-img a {
  font-weight: bold;
  font-size: 15px;
  color: black;
  text-decoration: none;
}

.five-grid-img a:hover {
  font-weight: bold;
  font-size: 15px;
  color: #f42;
  text-decoration: underline;
}

.five-grid-item strike {
  font-size: 13px;
  color: gray;
}